<form action="/home" method="POST">
    <p>nome: </p>
    <input type="text" name="nome">
    <p>sobrenome: </p>
    <textarea name="sobrenome"></textarea>
    <button type="submit"> Cadastrar postagem</button>
</form>